:root{
    --baseColor: rgb(137, 153, 254);
    --contrastingColor: orange;
    --secondaryColor:rgb(119, 222, 188);
    --tirthColor: rgb(103, 31, 18);
    --shadowColor: rgba(141, 41, 24, .5);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--baseColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--contrastingColor);
}
.header-title{
    color: var(--tirthColor);
}
.game-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
canvas{
    border: 1px solid var(--contrastingColor);
    border-radius: 5px;
    margin: 10px;
    background-color: var(--secondaryColor);
}
.btns{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: var(--contrastingColor);
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: var(--tirthColor);
}
button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px var(--shadowColor)
}
.aside{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lifes{
    font-size: 34px;
}
.status{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
.status__label{
    font-weight: bold;
    color: var(--tirthColor);
    margin-top: 5px;
}
.status__data{
    font-weight: lighter;
    color: black;
}


@media screen and (max-width: 550px), (max-height:550px){
    .status{
        flex-direction: row;
        margin: 10px 0;
    }
    .aside{
        height: auto;
    }
}